include dash_tree_components/dash_tree_components.min.js
include dash_tree_components/dash_tree_components.min.js.map
include dash_tree_components/async-*.js
include dash_tree_components/async-*.js.map
include dash_tree_components/*-shared.js
include dash_tree_components/*-shared.js.map
include dash_tree_components/metadata.json
include dash_tree_components/package-info.json
include README.md
include LICENSE
include package.json
